@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono';
    list-style: none;
    text-decoration: none;
}

header
{
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(80, 121, 255);
    display: flex;
    align-items: center;
    padding: 0 8%;
}

header nav ul li {
    position: relative;
    float: left;
}

.link 
{
    padding-left: 100px;
}
header nav ul li a
{
    font-size: 15px;
    padding: 15px;
    color:white;
    display: block;
}

header nav ul li a:hover
{
    color: rgb(221, 192, 255);
    transition: 0,4s;
}

nav ul li ul 
{
    position: absolute;
    left:0;
    width: 180px;
    background-color: rgb(80, 121, 255);
    display: none;
}

nav ul li ul li 
{
    width: 100%;
    
}

nav ul li:hover > ul
{
    display: contents;
}

header img{
    max-width: 50px;
}

.logo-lang
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 70px;
}

.info-about-lang
{
    max-width: 1000px;
    font-size: 20px;
}

.Python-Img
{
    display: flex;
    max-width: 1000px;
    padding-top: 70px;
}



.company
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 35px;
    font-weight: bold;
}

ul > li > a{
    padding-top: 30px;
    padding-left: 60px;
    padding-bottom: 50px;
}

footer
{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 40px 20px 40px 20px;
    background-color: gray;
}
.footer
{
    text-decoration: underline;
}

.info
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 70px; 
}

.How-appeared-Python
{
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 1000px;
    font-size: 20px;
}